@using SCORM1.Models.Lms;
@using SCORM1.Models.ViewModel;
@using SCORM1.Models.RigidCourse;
@model AdminProtectedFailure

@{
    ViewBag.Title = "Falla Protegida";
}

<h2>Falla Protegida</h2>

<div class="row fecha">
</div>
<br />