################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/SCORE2020/v16/Server/sqlite3/db.lock
/.vs/SCORE2020/v15
/.vs/SCORE2020/v15
/SCORM1/Migrations
