<ul class="nav navbar-nav navbar-right">

    <li>@Html.ActionLink(linkText: "Spanish", actionName: "Index", controllerName: "language", routeValues: new { Language = "es"},htmlAttributes: null)</li>
    <li>@Html.ActionLink(linkText: "English", actionName: "Index", controllerName: "language", routeValues: new { Language = "en"},htmlAttributes: null)</li>
    <li>@Html.ActionLink(linkText: "Portuguese", actionName: "Index", controllerName: "language", routeValues: new { Language = "pt"},htmlAttributes: null)</li>

</ul>
