@using SCORM1.Models
@using SCORM1.Enum
@model indexMain
@Styles.Render("~/Content/StyleDemo.css")
@Styles.Render("~/Content/StyleHome.css")

@{
    ViewBag.Title = "Index2";
}

<body class="path-frontpage eu-cookie-compliance-status-null eu-cookie-compliance-popup-open" style="position: relative;">
    <div id="scroll-wrap"></div>
    <div class="page-wrapper">al fin
        <noscript aria-hidden="true"><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WTWSFNR" height="" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
            <header class="site-header" style="visibility: visible;">
                <div class="heading-highlights">
                 
                    <div id="block-hotnews" class="heading-highlights--news block block-block-content block-block-contentda431d66-87b6-4f7d-86d0-6f595fdf47ee">

                    </div>
                    <div class="heading-highlights--tools">
                        <div class="views-exposed-form bef-exposed-form search-tool block block-views block-views-exposed-filter-blockacquia-search-page-1" data-drupal-selector="views-exposed-form-acquia-search-page-1" id="block-exposedformacquia-searchpage-1" style="visibility: visible;">
                            
                                <form action="https://www.bureauveritas.com.co/es/search" method="get" id="views-exposed-form-acquia-search-page-1" accept-charset="UTF-8">
                                    <div class="form--inline clearfix">                                       
                                        <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
                                            <input data-drupal-selector="edit-submit-acquia-search" type="submit" id="edit-submit-acquia-search" value="Search" class="button js-form-submit form-submit">
                                        </div>

                                    </div>

                                </form>
                            </div>
                            <span class="search-tool--close"></span>
                        </div>
                        <div class="language-switcher-language-url site-lang block block-language block-language-blocklanguage-interface is-custom" id="block-languageswitcher" role="navigation" style="visibility: visible;">
                            <button type="button" class="btn btn-danger">CERRAR SESIÓN</button>
                        </div>
                    </div>
                </div>

                <div class="site-heading">
                    <div class="site-logo">
                        <div id="block-sitebranding" class="site-logo--inner block block-system block-system-branding-block">
                            <h1>Colombia</h1>
                        </div>
                    </div>
                    <nav role="navigation" aria-labelledby="block-mainnavigation-menu" id="block-mainnavigation" class="main-menu block block-menu navigation menu--main">
                        <ul class="menu menu-level-0">
                            <li class="menu-item menu-item--collapsed">
                                <a href="" data-drupal-link-system-path="node/236">INICIO</a>
                                <div class="menu_link_content menu-link-contentmain view-mode-mega-menu menu-dropdown">
                                </div>
                            </li>
                            <li class="menu-item menu-item--collapsed">
                                <a href="" data-drupal-link-system-path="node/236">TABLERO DE CONTROL</a>
                                <div class="menu_link_content menu-link-contentmain view-mode-mega-menu menu-dropdown">
                                </div>
                            </li>                            

                            <li class="menu-item menu-item--collapsed">
                                <a href="" data-drupal-link-system-path="node/236">ZONA DE APRENDIZAJE</a>
                                <div class="menu_link_content menu-link-contentmain view-mode-mega-menu menu-dropdown">
                                </div>
                            </li>

                            <li class="menu-item">
                                <a href="" >COMUNIDAD SOCIAL DE CONOCIMIENTO</a>
                                <div class="menu_link_content menu-link-contentmain view-mode-mega-menu menu-dropdown">
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>

            <div class="page-intro">
                <div id="block-homepage-cover-local" class="block block-block-content block-block-content01f17a1b-15d1-4a30-b5f0-df2818d6a3fd">
                    <div class="page-hat simple">
                        <div class="page-hat--picture field-group-background-image" <!--style="background-image: url(&#39;/sites/g/files/zypfnx611/files/styles/page_heading_desktop/public/2020-01/Bureau%20Veritas%20Bogota.jpg?h=56af1632&amp;itok=ueSXi0FH&#39;)"-->>
	                          <div class="visually-hidden field__item">
                                <a href="https://www.bureauveritas.com.co/en/media/31" hreflang="en">Bureau Veritas Bogotá</a>
                              </div>
                              <div class="field field--name-field-media-video-file field--type-file field--label-visually_hidden field__items">
                              <div class="field__label visually-hidden">Video file</div>
                                        <div class="field__item">
                                    </div>
                                  </div>
                        </div>
                        <div class="page-hat--content">
                            <div class="page-hat--title js-letters-effect clearfix text-formatted field field--name-field-text-animation field--type-text-long field--label-hidden field__items" style="opacity: 1;">
                                <p><div class="word-container"><span>E</span><span>N</span><span>C</span><span>U</span><span>E</span><span>N</span><span>T</span><span>R</span><span>A</span> <span>A</span><span>Q</span><span>U</span><span>Í</span> <span>L</span><span>A</span></div>
                                   <strong><div class="word-container"><span>G</span><span>U</span><span>Í</span><span>A</span></div> <div class="word-container"><span>D</span><span>E</span></div> <div class="word-container"><span>N</span><span>A</span><span>V</span><span>E</span><span>G</span><span>A</span><span>C</span><span>I</span><span>Ó</span><span>N</span></div></strong></p>
                            </div>
                        </div>

                    </div>

                    <div class="page-intro--scroll-bottom">
                        <div class="field field--name-field-read-more field--type-string field--label-hidden field__items">
                            <div class="field__item">
                                Leer más
                            </div>
                        </div>
                    </div>

                </div>


            </div>


            <div data-drupal-messages-fallback="" class="hidden"></div><div id="block-mainpagecontent" class="block block-system block-system-main-block">


                <div class="views-element-container">
                    <div class="view view-frontpage view-id-frontpage view-display-id-page_1 js-view-dom-id-dc4c7e79bfb1a65e77c5bc916d3132fc1dc5b82d9631adb77970e5237a208bd7">




                    </div>
                </div>

            </div>
            <div id="block-threemainhighlights" class="block block-block-content block-block-contentfe476d6b-33cd-4554-b586-03d243167421">



                <div class="layer-presentation">

                    <div class="layer-presentation--top">

                        <div class="teaser-highlight default">

                            <div class="teaser-highlight--picture" style="position: relative; top: -372.199px;">
                                <picture>
                                    <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_highlight_default_desktop/public/2020-01/BV_4686.jpg?h=9b8bd6ff&amp;itok=SuVqtws_ 1x" media="all and (min-width: 1280px)" type="image/jpeg">
                                    <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_highlight_default_desktop/public/2020-01/BV_4686.jpg?h=9b8bd6ff&amp;itok=SuVqtws_ 1x" media="all and (min-width: 960px)" type="image/jpeg">
                                    <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_highlight_default_tablet/public/2020-01/BV_4686.jpg?h=9b8bd6ff&amp;itok=vR_GLZaL 1x" media="all and (min-width: 640px)" type="image/jpeg">
                                    <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_highlight_default_mobile/public/2020-01/BV_4686.jpg?h=9b8bd6ff&amp;itok=x0N_fRpK 1x" type="image/jpeg">
                                    <img src="./Home _ Colombia_files/BV_4686.jpg" alt="Bureau Veritas Colombia" typeof="foaf:Image">
                                </picture>
                            </div>
                            <div class="teaser-highlight--content" style="position: center; top: -135.514px;">
                                <div class="teaser-highlight--text anim-inview--from-right field__item is-inview">
                                    TABLERO DE CONTROL
                                </div>

                                <div class="teaser-highlight--action anim-inview--from-left is-inview">
                                    <a href="https://www.bureauveritas.com.co/es/newsroom/enfocados-en-nuestros-clientes-impulsados-pro-nuestra-sociedad" class="link-std default">VER MÁS</a>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="layer-presentation--bottom">

                        <div class="teaser-highlight alternate" style="top: 152.512px;">

                            <div class="teaser-highlight--picture">
                                <picture>
                                    <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_highlight_alternate_desktop/public/2020-01/Electricity_pylons_Petr_Kanka_be%2017%202016_220_retus_opr.jpg?h=9a39939b&amp;itok=dlCmSppK 1x" media="all and (min-width: 1280px)" type="image/jpeg">
                                    <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_highlight_alternate_desktop/public/2020-01/Electricity_pylons_Petr_Kanka_be%2017%202016_220_retus_opr.jpg?h=9a39939b&amp;itok=dlCmSppK 1x" media="all and (min-width: 960px)" type="image/jpeg">
                                    <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_highlight_alternate_tablet/public/2020-01/Electricity_pylons_Petr_Kanka_be%2017%202016_220_retus_opr.jpg?h=9a39939b&amp;itok=XDBfJZIl 1x" media="all and (min-width: 640px)" type="image/jpeg">
                                    <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_highlight_alternate_mobile/public/2020-01/Electricity_pylons_Petr_Kanka_be%2017%202016_220_retus_opr.jpg?h=9a39939b&amp;itok=UcM5qPQD 1x" type="image/jpeg">
                                    <img src="./Home _ Colombia_files/Electricity_pylons_Petr_Kanka_be 17 2016_220_retus_opr.jpg" alt="Historia Bureau Veritas" typeof="foaf:Image">

                                </picture>



                            </div>




                            <div class="teaser-highlight--content">
                                <div class="teaser-highlight--text anim-inview--from-right field__item is-inview">
                                    190 AÑOS Y SEGUIMOS INNOVANDO
                                </div>

                                <div class="teaser-highlight--action anim-inview--from-left is-inview">
                                    <a href="https://www.bureauveritas.com.co/es/nuestra-historia-bureau-veritas-es-una-compania-que-funciona-de-empresa-empresa-y-para-la-sociedad" class="link-std default">NUESTRA HISTORIA</a>

                                </div>

                            </div>

                        </div>

                        <div class="teaser-keydata" style="top: 508.375px;">

                            <div class="teaser-keydata--picture">
                                <picture>
                                    <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_key_data_desktop/public/2020-01/DSC09735_drone-inspection.jpg?h=2050bde3&amp;itok=ClicJuY2 1x" media="all and (min-width: 1280px)" type="image/jpeg">
                                    <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_key_data_desktop/public/2020-01/DSC09735_drone-inspection.jpg?h=2050bde3&amp;itok=ClicJuY2 1x" media="all and (min-width: 960px)" type="image/jpeg">
                                    <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_key_data_tablet/public/2020-01/DSC09735_drone-inspection.jpg?h=2050bde3&amp;itok=fiPZnlhd 1x" media="all and (min-width: 640px)" type="image/jpeg">
                                    <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_key_data_mobile/public/2020-01/DSC09735_drone-inspection.jpg?h=2050bde3&amp;itok=jMQDI245 1x" type="image/jpeg">
                                    <img src="./Home _ Colombia_files/DSC09735_drone-inspection.jpg" alt="Servicios Bureau Veritas" typeof="foaf:Image">

                                </picture>



                            </div>




                            <div class="teaser-keydata--overlay">

                                <div class="teaser-keydata--content">
                                    <p class="teaser-keydata--highlight field__item">
                                        DEJA TU MARCA
                                    </p>
                                    <p class="field__item">
                                        ENCUENTRA AQUI LA GUIA DE NAVEGACIÓN
                                    </p>

                                    <div class="teaser-keydata--action">
                                        <a href="https://www.bureauveritas.com.co/es/deja-tu-marca" class="link-std reversed">VER MÁS</a>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
            <div id="block-ourmarketssync" class="block block-block-content block-block-content15642d29-61f3-4219-bc83-2976579cec1e">



                <div class="section-gallery">

                    <div class="section-gallery--container">
                        <h2 class="section-gallery--title field__item">
                            <p>Nuestros&nbsp;<strong>Servicios Destacados</strong></p>

                        </h2>

                        <div class="section-gallery--slider">
                            <ul class="section-gallery--list field field--name-field-gallery-items field--type-entity-reference-revisions field--label-hidden field__items">
                                <li class="section-gallery--item field__item">
                                    <div class="paragraph paragraph--type--gallery-items paragraph--view-mode--default">

                                        <div class="teaser-img">
                                            <a href="https://www.bureauveritas.com.co/es/contactenos" class="field-group-link">
                                                <div class="teaser-img--picture field__item">

                                                    <div class="teaser-img--picture">
                                                        <picture>
                                                            <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_img_desktop/public/2020-01/Cotiza%20con%20Bureau%20Veritas%20Colombia.png?h=4dafca4d&amp;itok=VgEGUMjg 1x" media="all and (min-width: 1280px)" type="image/png">
                                                            <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_img_desktop/public/2020-01/Cotiza%20con%20Bureau%20Veritas%20Colombia.png?h=4dafca4d&amp;itok=VgEGUMjg 1x" media="all and (min-width: 960px)" type="image/png">
                                                            <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_article_tablet/public/2020-01/Cotiza%20con%20Bureau%20Veritas%20Colombia.png?h=4dafca4d&amp;itok=a4cWeR-U 1x" media="all and (min-width: 640px)" type="image/png">
                                                            <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_img_mobile/public/2020-01/Cotiza%20con%20Bureau%20Veritas%20Colombia.png?h=4dafca4d&amp;itok=e9M1o2ba 1x" type="image/png">
                                                            <img src="./Home _ Colombia_files/Cotiza con Bureau Veritas Colombia.png" alt=" CONTACT US AND REQUEST A QUOTE" typeof="foaf:Image">

                                                        </picture>



                                                    </div>



                                                </div>

                                                <div class="teaser-img--content">
                                                    <h2 class="tag-std field__item c-3-c-6">
                                                        CONTÁCTENOS Y SOLICITE UNA COTIZACIÓN
                                                    </h2>

                                                    <div class="teaser-img--action">

                                                        <span class="link-std">
                                                            Más información
                                                        </span>

                                                    </div>

                                                </div>
                                            </a>
                                        </div>

                                    </div>

                                </li>
                                <li class="section-gallery--item field__item">
                                    <div class="paragraph paragraph--type--gallery-items paragraph--view-mode--default">

                                        <div class="teaser-img">
                                            <a href="https://www.bureauveritas.com.co/es/reinicie-su-negocio" class="field-group-link">
                                                <div class="teaser-img--picture field__item">

                                                    <div class="teaser-img--picture">
                                                        <picture>
                                                            <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_img_desktop/public/2020-04/Bureau%20Veritas%20Covid19_0.jpg?h=8f4dbfbf&amp;itok=sHxqZwx9 1x" media="all and (min-width: 1280px)" type="image/jpeg">
                                                            <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_img_desktop/public/2020-04/Bureau%20Veritas%20Covid19_0.jpg?h=8f4dbfbf&amp;itok=sHxqZwx9 1x" media="all and (min-width: 960px)" type="image/jpeg">
                                                            <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_article_tablet/public/2020-04/Bureau%20Veritas%20Covid19_0.jpg?h=8f4dbfbf&amp;itok=D4WukY-_ 1x" media="all and (min-width: 640px)" type="image/jpeg">
                                                            <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_img_mobile/public/2020-04/Bureau%20Veritas%20Covid19_0.jpg?h=8f4dbfbf&amp;itok=TWKxPZf7 1x" type="image/jpeg">
                                                            <img src="./Home _ Colombia_files/Bureau Veritas Covid19_0.jpg" alt="SERVICIOS COVID19 BUREAU VERITAS COLOMBIA" typeof="foaf:Image">

                                                        </picture>



                                                    </div>



                                                </div>

                                                <div class="teaser-img--content">
                                                    <h2 class="tag-std field__item c-6-c-1">
                                                        REINICIE SU NEGOCIO CON BV
                                                    </h2>

                                                    <div class="teaser-img--action">

                                                        <span class="link-std">
                                                            Más información
                                                        </span>

                                                    </div>

                                                </div>
                                            </a>
                                        </div>

                                    </div>

                                </li>
                                <li class="section-gallery--item field__item">
                                    <div class="paragraph paragraph--type--gallery-items paragraph--view-mode--default">

                                        <div class="teaser-img">
                                            <a href="https://www.bureauveritas.com.co/es/tecnologias-digitales" class="field-group-link">
                                                <div class="teaser-img--picture field__item">

                                                    <div class="teaser-img--picture">
                                                        <picture>
                                                            <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_img_desktop/public/2020-01/Tecnolog%C3%ADas%20Digitales%20Bureau%20Veritas%20Colombia.png?h=4dafca4d&amp;itok=zAzlVguh 1x" media="all and (min-width: 1280px)" type="image/png">
                                                            <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_img_desktop/public/2020-01/Tecnolog%C3%ADas%20Digitales%20Bureau%20Veritas%20Colombia.png?h=4dafca4d&amp;itok=zAzlVguh 1x" media="all and (min-width: 960px)" type="image/png">
                                                            <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_article_tablet/public/2020-01/Tecnolog%C3%ADas%20Digitales%20Bureau%20Veritas%20Colombia.png?h=4dafca4d&amp;itok=EKxG6OBU 1x" media="all and (min-width: 640px)" type="image/png">
                                                            <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_img_mobile/public/2020-01/Tecnolog%C3%ADas%20Digitales%20Bureau%20Veritas%20Colombia.png?h=4dafca4d&amp;itok=8h3YxE8V 1x" type="image/png">
                                                            <img src="./Home _ Colombia_files/Tecnologías Digitales Bureau Veritas Colombia.png" alt="DIGITAL TECHNOLOGIES BUREAU VERITAS COLOMBIA" typeof="foaf:Image">

                                                        </picture>



                                                    </div>



                                                </div>

                                                <div class="teaser-img--content">
                                                    <h2 class="tag-std field__item c-5-c-4">
                                                        TECNOLOGÍAS DIGITALES
                                                    </h2>

                                                    <div class="teaser-img--action">

                                                        <span class="link-std">
                                                            Más información
                                                        </span>

                                                    </div>

                                                </div>
                                            </a>
                                        </div>

                                    </div>

                                </li>
                                <li class="section-gallery--item field__item">
                                    <div class="paragraph paragraph--type--gallery-items paragraph--view-mode--default">

                                        <div class="teaser-img">
                                            <a href="https://www.bureauveritastraining.com/co/" class="field-group-link" target="_blank">
                                                <div class="teaser-img--picture field__item">

                                                    <div class="teaser-img--picture">
                                                        <picture>
                                                            <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_img_desktop/public/2020-01/Bureau%20Veritas%20Training%20Colombia.png?h=4dafca4d&amp;itok=nhWASeO1 1x" media="all and (min-width: 1280px)" type="image/png">
                                                            <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_img_desktop/public/2020-01/Bureau%20Veritas%20Training%20Colombia.png?h=4dafca4d&amp;itok=nhWASeO1 1x" media="all and (min-width: 960px)" type="image/png">
                                                            <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_article_tablet/public/2020-01/Bureau%20Veritas%20Training%20Colombia.png?h=4dafca4d&amp;itok=73pxHl4Z 1x" media="all and (min-width: 640px)" type="image/png">
                                                            <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_img_mobile/public/2020-01/Bureau%20Veritas%20Training%20Colombia.png?h=4dafca4d&amp;itok=W84eNyPm 1x" type="image/png">
                                                            <img src="./Home _ Colombia_files/Bureau Veritas Training Colombia.png" alt="BV TRAINING COLOMBIA" typeof="foaf:Image">

                                                        </picture>



                                                    </div>



                                                </div>

                                                <div class="teaser-img--content">
                                                    <h2 class="tag-std field__item c-7-c-3">
                                                        BV TRAINING COLOMBIA
                                                    </h2>

                                                    <div class="teaser-img--action">

                                                        <span class="link-std">
                                                            Más información
                                                        </span>

                                                    </div>

                                                </div>
                                            </a>
                                        </div>

                                    </div>

                                </li>
                            </ul>

                        </div>

                    </div>

                </div>

            </div>
            <div id="block-slider-home" class="block block-block-content block-block-content21c852d5-6755-4fd2-b36b-480e462c4b14">


                <div class="field field--name-field-image-slider field--type-entity-reference-revisions field--label-hidden field__items">
                    <div class="field__item">
                        <div class="paragraph paragraph--type--image-slider paragraph--view-mode--alternate">

                            <div class="layer-markets alternate">

                                <div class="container">

                                    <div class="layer-markets--container">
                                        <h2 class="layer-markets--title field__item">
                                            Nuestros Mercados
                                        </h2>

                                        <div class="slider-markets">
                                            <div class="responsive-slider--pager-prev"></div>
                                            <div class="responsive-slider--wrapper" style="overflow: hidden; width: 33.3324%; padding: 0px 266.65px;">
                                                <ul class="slider-markets--list field field--name-field-image-slider-items field--type-entity-reference-revisions field--label-hidden field__items" style="overflow: hidden; position: relative; width: 700%; display: flex; transform: translateX(10.7143%); left: -300%;">
                                                    <li class="field__item" style="width: 10.7143%; height: auto; visibility: visible;">
                                                        <div class="paragraph paragraph--type--image-slider-items paragraph--view-mode--default">
                                                            <a href="https://www.bureauveritas.com.co/es/mercados-y-servicios/agro-alimentario-y-commodities" class="field-group-link teaser-market">
                                                                <div class="teaser-market--picture">
                                                                    <picture>
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_desktop/public/2019-12/Agri_0_0.jpg?itok=JAUqW-SO 1x" media="all and (min-width: 1280px)" type="image/jpeg">
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_desktop/public/2019-12/Agri_0_0.jpg?itok=JAUqW-SO 1x" media="all and (min-width: 960px)" type="image/jpeg">
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_tablet/public/2019-12/Agri_0_0.jpg?itok=XA8T-zdD 1x" media="all and (min-width: 640px)" type="image/jpeg">
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_mobile/public/2019-12/Agri_0_0.jpg?itok=3uK1e0IX 1x" type="image/jpeg">
                                                                        <img src="./Home _ Colombia_files/Agri_0_0.jpg" alt="Agri" typeof="foaf:Image">

                                                                    </picture>



                                                                </div>




                                                                <div class="teaser-market--content">
                                                                    <p class="teaser-market--title field__item">
                                                                        Agro-Alimentario y Commodities
                                                                    </p>

                                                                </div>
                                                            </a>
                                                        </div>

                                                    </li>
                                                    <li class="field__item" style="width: 10.7143%; height: auto; visibility: visible;">
                                                        <div class="paragraph paragraph--type--image-slider-items paragraph--view-mode--default">
                                                            <a href="https://www.bureauveritas.com.co/es/mercados-y-servicios/banks-insurance-companies-large-fleets" class="field-group-link teaser-market">
                                                                <div class="teaser-market--picture">
                                                                    <picture>
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_desktop/public/2020-01/Electricity_pylons_Petr_Kanka_be%2017%202016_220_retus_opr.jpg?itok=daCe0swt 1x" media="all and (min-width: 1280px)" type="image/jpeg">
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_desktop/public/2020-01/Electricity_pylons_Petr_Kanka_be%2017%202016_220_retus_opr.jpg?itok=daCe0swt 1x" media="all and (min-width: 960px)" type="image/jpeg">
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_tablet/public/2020-01/Electricity_pylons_Petr_Kanka_be%2017%202016_220_retus_opr.jpg?itok=tDU52L1A 1x" media="all and (min-width: 640px)" type="image/jpeg">
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_mobile/public/2020-01/Electricity_pylons_Petr_Kanka_be%2017%202016_220_retus_opr.jpg?itok=24nxYW3Q 1x" type="image/jpeg">
                                                                        <img src="./Home _ Colombia_files/Electricity_pylons_Petr_Kanka_be 17 2016_220_retus_opr(1).jpg" alt="Historia Bureau Veritas" typeof="foaf:Image">

                                                                    </picture>



                                                                </div>




                                                                <div class="teaser-market--content">
                                                                    <p class="teaser-market--title field__item">
                                                                        Bancos, Aseguradores y Grandes Flotas
                                                                    </p>

                                                                </div>
                                                            </a>
                                                        </div>

                                                    </li>
                                                    <li class="field__item" style="width: 10.7143%; height: auto; visibility: visible;">
                                                        <div class="paragraph paragraph--type--image-slider-items paragraph--view-mode--default">
                                                            <a href="https://www.bureauveritas.com.co/es/construccion-e-infraestructura" class="field-group-link teaser-market">
                                                                <div class="teaser-market--picture">
                                                                    <picture>
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_desktop/public/2019-12/construction_0.jpg?itok=mLDMB_HV 1x" media="all and (min-width: 1280px)" type="image/jpeg">
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_desktop/public/2019-12/construction_0.jpg?itok=mLDMB_HV 1x" media="all and (min-width: 960px)" type="image/jpeg">
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_tablet/public/2019-12/construction_0.jpg?itok=2kn6dpHC 1x" media="all and (min-width: 640px)" type="image/jpeg">
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_mobile/public/2019-12/construction_0.jpg?itok=DfXAZtZL 1x" type="image/jpeg">
                                                                        <img src="./Home _ Colombia_files/construction_0.jpg" alt="BUILDING &amp; INFRASTRUCTURE" typeof="foaf:Image">

                                                                    </picture>



                                                                </div>




                                                                <div class="teaser-market--content">
                                                                    <p class="teaser-market--title field__item">
                                                                        CONSTRUCCIÓN E INFRAESTRUCTURA
                                                                    </p>

                                                                </div>
                                                            </a>
                                                        </div>

                                                    </li>
                                                    <li class="field__item" style="width: 14.2857%; height: auto; visibility: visible;">
                                                        <div class="paragraph paragraph--type--image-slider-items paragraph--view-mode--default">
                                                            <a href="https://www.bureauveritas.com.co/es/mercados-y-servicios/energia-y-servicios-publicos" class="field-group-link teaser-market">
                                                                <div class="teaser-market--picture">
                                                                    <picture>
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_desktop/public/2019-12/header_power_transmission_0_0_0.jpg?itok=W0wU6R7r 1x" media="all and (min-width: 1280px)" type="image/jpeg">
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_desktop/public/2019-12/header_power_transmission_0_0_0.jpg?itok=W0wU6R7r 1x" media="all and (min-width: 960px)" type="image/jpeg">
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_tablet/public/2019-12/header_power_transmission_0_0_0.jpg?itok=rvZJKlss 1x" media="all and (min-width: 640px)" type="image/jpeg">
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_mobile/public/2019-12/header_power_transmission_0_0_0.jpg?itok=f9fvbAp9 1x" type="image/jpeg">
                                                                        <img src="./Home _ Colombia_files/header_power_transmission_0_0_0.jpg" alt="POWER &amp; UTILITIES" typeof="foaf:Image">

                                                                    </picture>



                                                                </div>




                                                                <div class="teaser-market--content">
                                                                    <p class="teaser-market--title field__item">
                                                                        ENERGÍA Y SERVICIOS PÚBLICOS
                                                                    </p>

                                                                </div>
                                                            </a>
                                                        </div>

                                                    </li>
                                                    <li class="field__item" style="width: 10.7143%; height: auto; visibility: visible;">
                                                        <div class="paragraph paragraph--type--image-slider-items paragraph--view-mode--default">
                                                            <a href="https://www.bureauveritas.com.co/es/marina-y-offshore" class="field-group-link teaser-market">
                                                                <div class="teaser-market--picture">
                                                                    <picture>
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_desktop/public/2019-12/classification_0.jpg?itok=wH5680TA 1x" media="all and (min-width: 1280px)" type="image/jpeg">
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_desktop/public/2019-12/classification_0.jpg?itok=wH5680TA 1x" media="all and (min-width: 960px)" type="image/jpeg">
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_tablet/public/2019-12/classification_0.jpg?itok=n6JD4liu 1x" media="all and (min-width: 640px)" type="image/jpeg">
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_mobile/public/2019-12/classification_0.jpg?itok=9dP1iY5n 1x" type="image/jpeg">
                                                                        <img src="./Home _ Colombia_files/classification_0.jpg" alt="MARINE &amp; OFFSHORE" typeof="foaf:Image">

                                                                    </picture>



                                                                </div>




                                                                <div class="teaser-market--content">
                                                                    <p class="teaser-market--title field__item">
                                                                        MARINA Y OFFSHORE
                                                                    </p>

                                                                </div>
                                                            </a>
                                                        </div>

                                                    </li>
                                                    <li class="field__item" style="width: 10.7143%; height: auto; visibility: visible;">
                                                        <div class="paragraph paragraph--type--image-slider-items paragraph--view-mode--default">
                                                            <a href="https://www.bureauveritas.com.co/es/mercados-y-servicios/metals-minerals" class="field-group-link teaser-market">
                                                                <div class="teaser-market--picture">
                                                                    <picture>
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_desktop/public/2019-12/header_metal_mineral_0_0.jpg?itok=-DKE2Zev 1x" media="all and (min-width: 1280px)" type="image/jpeg">
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_desktop/public/2019-12/header_metal_mineral_0_0.jpg?itok=-DKE2Zev 1x" media="all and (min-width: 960px)" type="image/jpeg">
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_tablet/public/2019-12/header_metal_mineral_0_0.jpg?itok=dE_Zghrq 1x" media="all and (min-width: 640px)" type="image/jpeg">
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_mobile/public/2019-12/header_metal_mineral_0_0.jpg?itok=71a0Asic 1x" type="image/jpeg">
                                                                        <img src="./Home _ Colombia_files/header_metal_mineral_0_0.jpg" alt="METALS &amp; MINERALS" typeof="foaf:Image">

                                                                    </picture>



                                                                </div>




                                                                <div class="teaser-market--content">
                                                                    <p class="teaser-market--title field__item">
                                                                        METALES Y MINERALES
                                                                    </p>

                                                                </div>
                                                            </a>
                                                        </div>

                                                    </li>
                                                    <li class="field__item" style="width: 10.7143%; height: auto; visibility: visible;">
                                                        <div class="paragraph paragraph--type--image-slider-items paragraph--view-mode--default">
                                                            <a href="https://www.bureauveritas.com.co/es/mercados-y-servicios/retail" class="field-group-link teaser-market">
                                                                <div class="teaser-market--picture">
                                                                    <picture>
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_desktop/public/2019-12/header_food_retail_0.jpg?itok=W5fXNlVF 1x" media="all and (min-width: 1280px)" type="image/jpeg">
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_desktop/public/2019-12/header_food_retail_0.jpg?itok=W5fXNlVF 1x" media="all and (min-width: 960px)" type="image/jpeg">
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_tablet/public/2019-12/header_food_retail_0.jpg?itok=f_aYPl7J 1x" media="all and (min-width: 640px)" type="image/jpeg">
                                                                        <source srcset="/sites/g/files/zypfnx611/files/styles/teaser_market_mobile/public/2019-12/header_food_retail_0.jpg?itok=xfVjHkus 1x" type="image/jpeg">
                                                                        <img src="./Home _ Colombia_files/header_food_retail_0.jpg" alt="Retail" typeof="foaf:Image">

                                                                    </picture>



                                                                </div>




                                                                <div class="teaser-market--content">
                                                                    <p class="teaser-market--title field__item">
                                                                        RETAIL
                                                                    </p>

                                                                </div>
                                                            </a>
                                                        </div>

                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="responsive-slider--pager-next"></div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
            <div class="views-element-container block block-views block-views-blocknewsroom-block-2" id="block-views-block-newsroom-block-2">


                <div>
                    <div class="cross-news container view view-newsroom view-id-newsroom view-display-id-block_2 js-view-dom-id-31e9273b381747be6e3d494a39f0bae516a28821154b0e9acf1338f2cd44a243">


                        <div class="view-header">
                            <p class="cross-news--title">
                                <strong>Novidades</strong>
                            </p>
                            <a href="https://www.bureauveritas.com.co/esnewsroom" class="link-std ">Confira todas as notícias</a>

                        </div>

                        <div class="view-content">
                            <div>

                                <ul class="cross-news--list">

                                    <li>
                                        <article data-history-node-id="806" role="article" about="/es/newsroom/bureau-veritas-se-une-al-consejo-del-hidrogeno" class="node-wrapper">

                                            <div>

                                                <div class="teaser-light">

                                                    <p class="teaser-light--tag">
                                                        <a href="https://www.bureauveritas.com.co/es/newsroom?type=news">Noticias</a>
                                                    </p>
                                                    <a href="https://www.bureauveritas.com.co/es/newsroom/bureau-veritas-se-une-al-consejo-del-hidrogeno" class="field-group-link teaser-light--content" hreflang="es">
                                                        <div class="teaser-light--text">

                                                            <p class="teaser-light--title">
                                                                Bureau Veritas se une al Consejo del Hidrógeno
                                                            </p>

                                                            <p class="teaser-light--date">
                                                                Ene. 15 2021
                                                            </p>

                                                        </div>

                                                        <div class="teaser-light--action">

                                                            <span class="link-std">
                                                                Más información
                                                            </span>

                                                        </div>
                                                    </a>
                                                </div>

                                            </div>
                                        </article>
                                    </li>
                                    <li>
                                        <article data-history-node-id="801" role="article" about="/es/newsroom/bureau-veritas-y-optel-se-asocian-para-lanzar-v-trace-una-solucion-para-la-trazabilidad" class="node-wrapper">

                                            <div>

                                                <div class="teaser-light">

                                                    <p class="teaser-light--tag">
                                                        <a href="https://www.bureauveritas.com.co/es/newsroom?type=news">Noticias</a>
                                                    </p>
                                                    <a href="https://www.bureauveritas.com.co/es/newsroom/bureau-veritas-y-optel-se-asocian-para-lanzar-v-trace-una-solucion-para-la-trazabilidad" class="field-group-link teaser-light--content" hreflang="es">
                                                        <div class="teaser-light--text">

                                                            <p class="teaser-light--title">
                                                                Bureau Veritas y OPTEL se asocian para lanzar V-TRACE, una solución para la trazabilidad completa y garantizada de las vacunas contra la COVID-19
                                                            </p>

                                                            <p class="teaser-light--date">
                                                                Ene. 7 2021
                                                            </p>

                                                        </div>

                                                        <div class="teaser-light--action">

                                                            <span class="link-std">
                                                                Más información
                                                            </span>

                                                        </div>
                                                    </a>
                                                </div>

                                            </div>
                                        </article>
                                    </li>
                                    <li>
                                        <article data-history-node-id="796" role="article" about="/es/newsroom/bureau-veritas-se-compromete-en-favor-del-bienestar-animal" class="node-wrapper">

                                            <div>

                                                <div class="teaser-light">

                                                    <p class="teaser-light--tag">
                                                        <a href="https://www.bureauveritas.com.co/es/newsroom?type=news">Noticias</a>
                                                    </p>
                                                    <a href="https://www.bureauveritas.com.co/es/newsroom/bureau-veritas-se-compromete-en-favor-del-bienestar-animal" class="field-group-link teaser-light--content" hreflang="es">
                                                        <div class="teaser-light--text">

                                                            <p class="teaser-light--title">
                                                                Bureau Veritas se compromete en favor del bienestar animal
                                                            </p>

                                                            <p class="teaser-light--date">
                                                                Dic. 29 2020
                                                            </p>

                                                        </div>

                                                        <div class="teaser-light--action">

                                                            <span class="link-std">
                                                                Más información
                                                            </span>

                                                        </div>
                                                    </a>
                                                </div>

                                            </div>
                                        </article>
                                    </li>

                                </ul>

                            </div>

                        </div>

                    </div>
                </div>

            </div>




            <footer class="site-footer">
                <div class="site-footer--video">
                    <div id="block-footer-highlight-footer" class="block block-block-content block-block-contentb1b63cd5-a33b-46d1-9d3e-a058a2d93893">



                        <div class="teaser-video">
                            <video class="teaser-video--video" poster="/sites/g/files/zypfnx611/files/styles/background_video/public/2020-01/Bureau%20Veritas%20Bogota.jpg" loop="" muted="" preload="" autoplay="" playsinline="">
                                <source src="/sites/g/files/zypfnx611/files/2020-01/FINAL_2.mp4" type="video/mp4">
                            </video>

                            <div class="teaser-video--overlay">

                                <div class="teaser-video--content">
                                    <div class="teaser-video--category field field--name-field-title-1 field--type-string field--label-hidden field__items">
                                        Únete a nosotros
                                    </div>
                                    <div class="teaser-video--title clearfix text-formatted field field--name-field-teaser field--type-text-long field--label-hidden field__items">
                                        <p>Construyamos juntos una sociedad más segura e inteligente.</p>

                                    </div>

                                    <div class="teaser-video--action">
                                        <a href="https://www.bureauveritas.com.co/es/career" class="button-action">Nuestras ofertas de trabajo</a>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>


                </div>
                <div class="site-footer--sitemap">
                    <nav role="navigation" aria-labelledby="block-footer-menu" id="block-footer" class="list-links block block-menu navigation menu--footer">




                        <ul class="menu">
                            <li class="menu-item">
                                <a href="https://drive.google.com/file/d/1QbCgxlHmxKyHQytSN0Ejl0Iyiq1gFEch/view?usp=sharing" target="_blank">CÓDIGO DE ÉTICA</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://drive.google.com/file/d/1T2ytuclKvW1AZvWthVwcV0W4YfUHuRNu/view?usp=sharing" target="_blank">Código de conducta para socios y empresas</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://group.bureauveritas.com/our-websites" target="_blank">Presencia mundial</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://www.bureauveritas.com.co/es/newsroom" target="_self">Noticias</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://www.bureauveritas.com.co/es/contactenos" data-drupal-link-system-path="node/526">CONTÁCTANOS</a>
                            </li>
                        </ul>



                    </nav>
                    <nav role="navigation" aria-labelledby="block-sociallinks-menu" id="block-sociallinks" class="list-community block block-menu navigation menu--social-links">

                        <h2 class="list-community--title" id="block-sociallinks-menu">Conéctate con nosotros</h2>



                        <ul class="menu">
                            <li class="menu-item">
                                <a href="https://www.facebook.com/BureauVeritasCO/" class="facebook" target="_blank">Facebook</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://www.linkedin.com/showcase/40701849/" class="linkedin" target="_blank">Linkedin</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://twitter.com/BureauVeritasCO" class="twitter" target="_blank">Twitter</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://www.youtube.com/channel/UC3AnuK5Z8v9M5wR2lwT-M6A" class="youtube" target="_blank">YouTube</a>
                            </li>
                        </ul>



                    </nav>
                    <nav role="navigation" aria-labelledby="block-legalmenu-menu" id="block-legalmenu" class="list-simple block block-menu navigation menu--legal">




                        <ul class="menu">
                            <li class="menu-item">
                                <span>© 2021</span>
                            </li>
                            <li class="menu-item">
                                <a href="https://www.bureauveritas.com.co/es/terminos-de-uso" data-drupal-link-system-path="node/461">Términos de uso</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://www.bureauveritas.com.co/es/aviso-legal">Aviso Legal</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://www.bureauveritas.com.co/es/politica-de-cookies" data-drupal-link-system-path="node/256">Política Cookies</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://drive.google.com/file/d/1RwpWUq40GtiB60UUKotN0L8jSdtDiQoL/view?usp=sharing" target="_blank">Aviso de Privacidad</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://drive.google.com/file/d/1Ol0MjDJcPcZAYj9LTeP0rFDKbIhh5_uo/view?usp=sharing" target="_blank">Plan de Prevención y Manejo del COVID-19</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://drive.google.com/file/d/1yrhrBti4zeYmbsZTxifjcJWIBVvnFUgI/view?usp=sharing" target="_blank">Política Integrada local BV</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://drive.google.com/file/d/16E802sau66k8VXFBk99R30M4Ll-kIDJn/view?usp=sharing" target="_blank">Política de DDHH</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://drive.google.com/file/d/1Tw4SqVvZA6zYEVlbkaqpoMrKYl6T5B2Y/view?usp=sharing" target="_blank">Política de Protección de Datos Personales</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://drive.google.com/file/d/1BfypOiEahGXag42-z-R2uuaHsgm9G39R/view?usp=sharing" target="_blank">Política de Seguridad del Sistema de Información global</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://drive.google.com/file/d/14dOgnVh3FRExIYk0HoKdCqoLVhZ-byHh/view?usp=sharing" target="_blank">Política integrada local TC</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://drive.google.com/file/d/1e1r6sv9_T0HBovmniJt7MjHBD_kSO59E/view?usp=sharing" target="_blank">Procedimiento de quejas, reclamos y apelaciones</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://drive.google.com/file/d/1WvpojVSYU4RElnu7AsLk_aTTt5Oj15Nj/view?usp=sharing" target="_blank">Protocolo General de Bioseguridad</a>
                            </li>
                        </ul>



                    </nav>


                </div>
            </footer>

        </div>


    </div>
    <script type="application/json" data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/","scriptPath":null,"pathPrefix":"es\/","currentPath":"node","currentPathIsAdmin":false,"isFront":true,"currentLanguage":"es"},"pluralDelimiter":"\u0003","suppressDeprecationErrors":true,"ajaxPageState":{"libraries":"better_exposed_filters\/general,bureauveritasbase\/global_styling,bv_ckeditor\/ck-editor-color,classy\/base,classy\/file,classy\/messages,core\/html5shiv,core\/normalize,core\/picturefill,eu_cookie_compliance\/eu_cookie_compliance_default,paragraphs\/drupal.paragraphs.unpublished,system\/base,views\/views.ajax,views\/views.module","theme":"bureauveritasbase","theme_token":null},"ajaxTrustedUrl":{"\/es\/search":true},"field_group":{"html_element":{"mode":"default","context":"view","settings":{"id":"","classes":"hot-news--icon","element":"div","show_label":false,"label_element":"h3","attributes":"","effect":"none","speed":"fast","label":"hot-news--text"}},"link":{"mode":"default","context":"view","settings":{"label":"teaser light content","target":"field_hot_news","custom_uri":"","target_attribute":"default","id":"","classes":"hot-news"}},"background_image":{"mode":"mega_menu","context":"view","settings":{"image":"field_image","image_style":"large","id":"","classes":"main-menu--illustration","label":"main menu illustration","hide_if_missing":false}}},"views":{"ajax_path":"\/es\/views\/ajax","ajaxViews":{"views_dom_id:31e9273b381747be6e3d494a39f0bae516a28821154b0e9acf1338f2cd44a243":{"view_name":"newsroom","view_display_id":"block_2","view_args":"","view_path":"\/node","view_base_path":"newsroom","view_dom_id":"31e9273b381747be6e3d494a39f0bae516a28821154b0e9acf1338f2cd44a243","pager_element":0}}},"eu_cookie_compliance":{"cookie_policy_version":"1.0.0","popup_enabled":true,"popup_agreed_enabled":false,"popup_hide_agreed":false,"popup_clicking_confirmation":false,"popup_scrolling_confirmation":false,"popup_html_info":"\u003Cdiv class=\u0022eu-cookie-compliance-banner eu-cookie-compliance-banner-info eu-cookie-compliance-banner--default\u0022\u003E\n  \u003Cdiv class=\u0022popup-content info eu-cookie-compliance-content cookie-popup--content\u0022\u003E\n    \u003Cdiv id=\u0022popup-text\u0022 class=\u0022eu-cookie-compliance-message cookie-popup--text\u0022\u003E\n      \u003Cdiv class=\u0022cookie-popup--description\u0022\u003E\u003Cp\u003EUtilizamos cookies en este sitio web para mejorar su experiencia de usuario.Al hacer clic en cualquier enlace de este sitio web usted nos est\u00e1 dando su consentimiento para la instalaci\u00f3n de las mismas en su navegador.\u003C\/p\u003E\n\u003C\/div\u003E\n          \u003C\/div\u003E\n\n    \n      \u003Cdiv id=\u0022eu-cookie-compliance-categories\u0022 class=\u0022cookie-popup--text eu-cookie-compliance-categories\u0022\u003E\n                \u003Cdiv class=\u0022eu-cookie-compliance-categories-buttons cookie-popup--buttons\u0022\u003E\n                        \u003Cdiv id=\u0022popup-buttons\u0022 class=\u0022cookie-popup--action-buttons eu-cookie-compliance-buttons\u0022\u003E\n              \u003Cbutton type=\u0022button\u0022 class=\u0022agree-button eu-cookie-compliance-default-button\u0022\u003ES\u00ed, estoy de acuerdo\u003C\/button\u003E\n                          \u003C\/div\u003E\n          \u003C\/div\u003E\n        \n      \u003C\/div\u003E\n  \u003C\/div\u003E\n\u003C\/div\u003E","use_mobile_message":false,"mobile_popup_html_info":"\u003Cdiv class=\u0022eu-cookie-compliance-banner eu-cookie-compliance-banner-info eu-cookie-compliance-banner--default\u0022\u003E\n  \u003Cdiv class=\u0022popup-content info eu-cookie-compliance-content cookie-popup--content\u0022\u003E\n    \u003Cdiv id=\u0022popup-text\u0022 class=\u0022eu-cookie-compliance-message cookie-popup--text\u0022\u003E\n      \u003Cdiv class=\u0022cookie-popup--description\u0022\u003E\u003C\/div\u003E\n          \u003C\/div\u003E\n\n    \n      \u003Cdiv id=\u0022eu-cookie-compliance-categories\u0022 class=\u0022cookie-popup--text eu-cookie-compliance-categories\u0022\u003E\n                \u003Cdiv class=\u0022eu-cookie-compliance-categories-buttons cookie-popup--buttons\u0022\u003E\n                        \u003Cdiv id=\u0022popup-buttons\u0022 class=\u0022cookie-popup--action-buttons eu-cookie-compliance-buttons\u0022\u003E\n              \u003Cbutton type=\u0022button\u0022 class=\u0022agree-button eu-cookie-compliance-default-button\u0022\u003ES\u00ed, estoy de acuerdo\u003C\/button\u003E\n                          \u003C\/div\u003E\n          \u003C\/div\u003E\n        \n      \u003C\/div\u003E\n  \u003C\/div\u003E\n\u003C\/div\u003E","mobile_breakpoint":768,"popup_html_agreed":false,"popup_use_bare_css":false,"popup_height":"auto","popup_width":"100%","popup_delay":1000,"popup_link":"\/es","popup_link_new_window":true,"popup_position":false,"fixed_top_position":true,"popup_language":"es","store_consent":false,"better_support_for_screen_readers":false,"cookie_name":"","reload_page":false,"domain":"","domain_all_sites":false,"popup_eu_only_js":false,"cookie_lifetime":100,"cookie_session":0,"set_cookie_session_zero_on_disagree":0,"disagree_do_not_show_popup":false,"method":"default","automatic_cookies_removal":true,"allowed_cookies":"","withdraw_markup":"\u003Cbutton type=\u0022button\u0022 class=\u0022eu-cookie-withdraw-tab\u0022\u003EOpciones de privacidad\u003C\/button\u003E\n\u003Cdiv role=\u0022alertdialog\u0022 aria-labelledby=\u0022popup-text\u0022 class=\u0022eu-cookie-withdraw-banner\u0022\u003E\n  \u003Cdiv class=\u0022popup-content info eu-cookie-compliance-content\u0022\u003E\n    \u003Cdiv id=\u0022popup-text\u0022 class=\u0022eu-cookie-compliance-message\u0022\u003E\n      \u003Cp\u003EWe use cookies on this site to enhance your user experienceYou have given your consent for us to set cookies.\u003C\/p\u003E\n\n    \u003C\/div\u003E\n    \u003Cdiv id=\u0022popup-buttons\u0022 class=\u0022eu-cookie-compliance-buttons\u0022\u003E\n      \u003Cbutton type=\u0022button\u0022 class=\u0022eu-cookie-withdraw-button\u0022\u003EWithdraw consent\u003C\/button\u003E\n    \u003C\/div\u003E\n  \u003C\/div\u003E\n\u003C\/div\u003E","withdraw_enabled":false,"reload_options":0,"reload_routes_list":"","withdraw_button_on_info_popup":false,"cookie_categories":[],"cookie_categories_details":[],"enable_save_preferences_button":true,"containing_element":"body","settings_tab_enabled":false},"user":{"uid":0,"permissionsHash":"dc59b35f7b434f8459fcb4d3e5dcfc557c7b9c0c49dd42b38466b5c6cc9c92b2"}}</script>
    <script src="./Home _ Colombia_files/js_3BrpOrKbGJgW2sg8A3VBqsWQvSOeAG-Tgr8dzLFjge0.js.descarga"></script>
    <script src="./Home _ Colombia_files/eu_cookie_compliance.js.descarga" defer=""></script>

    <script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam-cell.nr-data.net","licenseKey":"a14fdfd6a8","applicationID":"193759265","transactionName":"NQNWbUVQX0BSUhVdCwxJdVpDWF5dHEEAUwE9BVVaX1Q=","queueTime":0,"applicationTime":45,"atts":"GURVGw1KTE4=","errorBeacon":"bam-cell.nr-data.net","agent":""}</script>


</body>
